
//Fonts

$font-main: 'Raleway', sans-serif;
$font-aaccent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

//Colors

$dark: #242B33;
$accent: #D4C17F;
$white: #fff;
$footerbg: #2D343C;
 